{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<h2 class="mb-4">
    <i class="bi bi-film"></i>
    {{ title }}
</h2>

<div class="row">

    <div
    class="text-light p-5 rounded shadow-lg mb-5"
    style="
        background: linear-gradient(
            135deg,
            #1f2937,
            #111827
        );
    ">

        <h1 class="display-4 fw-bold">
            CinemaHub
        </h1>

        <p class="lead">
            Покупайте билеты на любимые фильмы онлайн
        </p>

    </div>


    {% for movie in movies %}



    <div class="col-md-4 mb-4">

    <div class="card h-100 shadow-sm">

        {% if movie.poster %}
        <img src="{{ movie.poster.url }}"
             class="card-img-top"
             alt="{{ movie.title }}"
             style="height: 500px; object-fit: cover;">
        {% endif %}

        <div class="card-body">

            <h5 class="card-title">
                {{ movie.title }}
            </h5>

            <p class="card-text">
                {{ movie.genre }}
            </p>

            <p class="card-text">
                {{ movie.duration }} мин.
            </p>

            <a href="{% url 'movie_detail' movie.id %}"
               class="btn btn-primary shadow-sm">
                Подробнее
            </a>

        </div>

    </div>

</div>

{% empty %}

<p>Фильмов пока нет</p>

{% endfor %}

</div>

{% endblock %}