{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}



<div class="row">

<div
    class="text-light p-5 rounded shadow-lg mb-5"
    style="
        background:
        linear-gradient(
            rgba(0,0,0,0.75),
            rgba(0,0,0,0.75)
        ),
        url('/media/posters/interstellar.jpg');

        background-size: cover;
        background-position: center;
    ">

        <h1 class="display-4 fw-bold">
            CinemaHub
        </h1>

        <p class="lead">
            Покупайте билеты на любимые фильмы онлайн
        </p>

    </div>


    {% for movie in movies %}



    <div class="col-md-4 mb-4">

    <div class="card h-100 shadow-sm">

        {% if movie.poster %}
        <img src="{{ movie.poster.url }}"
             class="card-img-top"
             alt="{{ movie.title }}"
             style="height: 500px; object-fit: cover;">
        {% endif %}

        <div class="card-body">

            <h5 class="card-title">
                {{ movie.title }}
            </h5>

            <p class="card-text">
                {{ movie.genre }}
            </p>

            <p class="card-text">
                {{ movie.duration }} мин.
            </p>

            <a href="{% url 'movie_detail' movie.id %}"
               class="btn btn-custom shadow-sm">
                Подробнее
            </a>
        </div>

    </div>

</div>

{% empty %}

<p>Фильмов пока нет</p>

{% endfor %}

</div>

{% endblock %}