{% extends 'base.html' %}

{% block title %}
    {{ movie.title }}
{% endblock %}

{% block content %}

{% if movie.banner %}

<div class="container-fluid px-0">

<div class="movie-hero text-light shadow mb-5"
     style="
        background:
        linear-gradient(
            rgba(0,0,0,0.75),
            rgba(0,0,0,0.75)
        ),
        url('{{ movie.banner.url }}');

        background-size: cover;
        background-position: center;
     ">

{% else %}

<div class="rounded shadow mb-5 text-light"
     style="
        background:
        linear-gradient(
            135deg,
            #1f2937,
            #111827
        );
     ">

{% endif %}

    <div class="container-fluid px-5 py-5">

        <div class="row align-items-center">

            <div class="col-md-3">

                {% if movie.poster %}

                <img src="{{ movie.banner.url }}"
                     class="img-fluid rounded shadow"
                     alt="{{ movie.title }}">

                {% endif %}

            </div>

            <div class="col-md-9">

                <h1 class="display-2 fw-bold">
                    {{ movie.title }}
                </h1>

                <p class="lead mb-4">
                    {{ movie.genre }}
                    •
                    {{ movie.duration }} мин.
                    •
                    {{ movie.release_date|date:"Y" }}
                </p>

                {% if movie.sessions.first %}

                <a href="{% url 'buy_ticket' movie.sessions.first.id %}"
                   class="btn btn-custom me-2">

                    Купить билет

                </a>

                {% endif %}

                {% if movie.trailer_url %}

                <a href="{{ movie.trailer_url }}"
                   target="_blank"
                   class="btn btn-outline-light">

                    Смотреть трейлер

                </a>

                {% endif %}

            </div>

        </div>

    </div>

</div>

    <div class="container">


<div class="card shadow-sm mb-4">

    <div class="card-body p-4">

        <h3 class="mb-3">
            Сюжет
        </h3>

        <p class="mb-0 lh-lg">
            {{ movie.description }}
        </p>
<hr>
        <h3 class="mb-4">
            Сеансы
        </h3>

        {% for session in sessions %}

        <div class="mb-4">

            <p class="mb-1">
                <i class="bi bi-calendar-event"></i>
                {{ session.start_time|date:"d.m.Y H:i" }}
            </p>

            <p class="mb-2">
                <i class="bi bi-door-open"></i>
                {{ session.hall }}
            </p>

            <h4 class="price-tag">
                {{ session.price }} ₽
            </h4>



        </div>

        {% if not forloop.last %}
        <hr>
        {% endif %}

        {% empty %}

        <p>Сеансов пока нет.</p>

        {% endfor %}


    </div>

</div>

<div class="mb-5">

    <a href="/"
       class="btn btn-back">

        ← К афише

    </a>

</div>

    </div>
</div>

{% endblock %}