{% extends 'base.html' %}

{% block title %}
    {{ movie.title }}
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-4">

        {% if movie.poster %}
            <img src="{{ movie.poster.url }}"
                 class="img-fluid rounded shadow"
                 alt="{{ movie.title }}">
        {% else %}

            <div class="card">
                <div class="card-body text-center">
                    Постер отсутствует
                </div>
            </div>

        {% endif %}

    </div>

    <div class="col-md-8">

        <h2>{{ movie.title }}</h2>

        <hr>

        <p>
            <strong>Жанр:</strong>
            {{ movie.genre }}
        </p>

        <p>
            <strong>Продолжительность:</strong>
            {{ movie.duration }} мин.
        </p>

        <p>
            <strong>Дата выхода:</strong>
            {{ movie.release_date }}
        </p>

        <hr>

        <h4>Описание</h4>

        <p>
            {{ movie.description }}
        </p>

        <hr>
        {% if movie.trailer_url %}



        <h4>Трейлер</h4>

        <div class="ratio ratio-16x9">

            <iframe
                    src="{{ movie.trailer_url }}"
                    title="Trailer"
                    allowfullscreen>
            </iframe>

        </div>

        {% endif %}

        <h4>Сеансы</h4>

        {% for session in movie.sessions.all %}

        <div class="card mb-2 shadow-sm">
            <div class="card-body">

                <strong>
                    {{ session.start_time|date:"d.m.Y H:i" }}
                </strong>

                <br>

                Зал: {{ session.hall }}

                <br>

                Цена: {{ session.price }} ₽
                <br><br>

                <a href="{% url 'buy_ticket' session.id %}"
                   class="btn btn-success btn-sm">

                    Купить билет

                </a>

            </div>
        </div>

        {% empty %}

        <p>Сеансов пока нет.</p>

        {% endfor %}

        <div class="mb-5">
            <a href="/"
               class="btn btn-secondary mt-4">
                К афише
            </a>
        </div>

    </div>

</div>

{% endblock %}