{% extends 'base.html' %}

{% block title %}
    {{ movie.title }}
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-4">

        {% if movie.poster %}
            <img src="{{ movie.poster.url }}"
                 class="img-fluid rounded shadow"
                 alt="{{ movie.title }}">
        {% else %}

            <div class="card">
                <div class="card-body text-center">
                    Постер отсутствует
                </div>
            </div>

        {% endif %}

    </div>

    <div class="col-md-8">

{% if movie.banner %}

<div class="p-4 rounded mb-4 text-light shadow"
     style="
        background:
        linear-gradient(
            rgba(0,0,0,0.75),
            rgba(0,0,0,0.75)
        ),
        url('{{ movie.banner.url }}');

        background-size: cover;
        background-position: center;
     ">

{% else %}

<div class="p-4 rounded mb-4 text-light shadow"
     style="
        background:
        linear-gradient(
            135deg,
            #1f2937,
            #111827
        );
     ">

{% endif %}

            <h1 class="display-5 fw-bold">
                {{ movie.title }}
            </h1>

            <p class="mb-0">
                {{ movie.genre }}
                •
                {{ movie.duration }} мин.
                •
                {{ movie.release_date|date:"Y" }}
            </p>

        </div>

        <h4>Описание</h4>

        <p>
            {{ movie.description }}
        </p>

        <hr>
        {% if movie.trailer_url %}



        <h4>Трейлер</h4>

        <div class="ratio ratio-16x9">

            <iframe
                    src="{{ movie.trailer_url }}"
                    title="Trailer"
                    allowfullscreen>
            </iframe>

        </div>

        {% endif %}

        <h4>Сеансы</h4>

        {% for session in movie.sessions.all %}

        <div class="card mb-2 shadow-sm">
            <div class="card-body">

               <p class="mb-1">
                    <i class="bi bi-calendar-event"></i>
                    {{ session.start_time|date:"d.m.Y H:i" }}
                </p>

                <p class="mb-1">
                    <i class="bi bi-door-open"></i>
                    {{ session.hall }}
                </p>

                <div class="mt-auto">

                    <h4 class="price-tag">
                        {{ session.price }} ₽
                    </h4>

                    <a href="{% url 'buy_ticket' session.id %}"
                       class="btn btn-custom">
                        Купить билет
                    </a>
                </div>
            </div>
        </div>

        {% empty %}

        <p>Сеансов пока нет.</p>

        {% endfor %}

        <div class="mb-5">
            <a href="/"
               class="btn btn-custom mt-3">
                ← К афише
            </a>
        </div>

    </div>

</div>

{% endblock %}