{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<h2 class="mb-4">
    {{ title }}
</h2>

{% for session in sessions %}

<div class="card mb-3 shadow-sm">

    <div class="row g-0">

        <div class="col-md-2">

            {% if session.movie.poster %}

                <img
                    src="{{ session.movie.poster.url }}"
                    class="img-fluid rounded-start"
                    alt="{{ session.movie.title }}">

            {% endif %}

        </div>

        <div class="col-md-10">

            <div class="card-body">

                <h5>
                    {{ session.movie.title }}
                </h5>

                <p>
                    Дата и время:
                    {{ session.start_time|date:"d.m.Y H:i" }}
                </p>

                <p>
                    Зал:
                    {{ session.hall }}
                </p>

                <p>
                    Цена:
                    {{ session.price }} ₽
                </p>

                <a href="{% url 'buy_ticket' session.id %}"
                   class="btn btn-success">

                    Купить билет

                </a>

            </div>

        </div>

    </div>

</div>

{% empty %}

<p>Сеансов пока нет.</p>

{% endfor %}

{% endblock %}