{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}

<div class="p-4 rounded shadow mb-4 text-light"
     style="
        background:
        linear-gradient(
            135deg,
            #1f2937,
            #111827
        );
     ">

    <h1 class="display-5 fw-bold mb-0">
        Профиль | {{ request.user.username }}
    </h1>

</div>
<div class="card shadow-sm">

    <div class="card-body">

        {% if profile.avatar %}
        <img
                src="{{ profile.avatar.url }}"
                alt="Avatar"
                class="img-thumbnail mb-3"
                style="max-width: 180px;">
        {% endif %}

        <h4>
            Данные пользователя
        </h4>

        <p>
<strong>@</strong>
{{ user.email }}
        </p>

        <p>
<i class="bi bi-telephone"></i>
{{ profile.phone }}
        </p>

        <p>
            <strong>О себе:</strong>
            {{ profile.bio }}
        </p>

<h5 class="price-tag">
    Куплено билетов: {{ tickets_count }}
</h5>

        <a href="{% url 'edit_profile' %}"
           class="btn btn-custom mt-3">

            Редактировать профиль

        </a>

    </div>

</div>

{% endblock %}