{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Профиль
</h2>

<div class="card shadow-sm">

    <div class="card-body">

        {% if profile.avatar %}
        <img
                src="{{ profile.avatar.url }}"
                alt="Avatar"
                class="img-thumbnail mb-3"
                style="max-width: 180px;">
        {% endif %}

        <h4>
            {{ request.user.username }}
        </h4>

        <p>
            <strong>Email:</strong>
            {{ request.user.email }}
        </p>

        <p>
            <strong>Телефон:</strong>
            {{ profile.phone }}
        </p>

        <p>
            <strong>О себе:</strong>
            {{ profile.bio }}
        </p>

        <a href="{% url 'edit_profile' %}"
           class="btn btn-primary mt-3">

            Редактировать профиль

        </a>

    </div>

</div>

{% endblock %}